[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmfrec"]
	path = cmfrec
	url = https://github.com/david-cortes/cmfrec
[submodule "costsensitive"]
	path = costsensitive
	url = https://github.com/david-cortes/costsensitive
[submodule "isotree"]
	path = isotree
	url = https://github.com/david-cortes/isotree
[submodule "MatrixExtra"]
	path = MatrixExtra
	url = https://github.com/david-cortes/matrixextra
[submodule "nonneg.cg"]
	path = nonneg.cg
	url = https://github.com/david-cortes/nonneg_cg
[submodule "outliertree"]
	path = outliertree
	url = https://github.com/david-cortes/outliertree
[submodule "poismf"]
	path = poismf
	url = https://github.com/david-cortes/poismf
[submodule "readsparse"]
	path = readsparse
	url = https://github.com/david-cortes/readsparse
[submodule "recometrics"]
	path = recometrics
	url = https://github.com/david-cortes/recometrics
[submodule "stochQN"]
	path = stochQN
	url = https://github.com/david-cortes/stochqn
[submodule "StratifiedRF"]
	path = StratifiedRF
	url = https://github.com/david-cortes/stratifiedrf
